* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(13, 13, 13);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.error-message {
    color: red;
    font-weight: bolder;
    padding: 8px;
}

.success-message {
    color: rgb(0, 186, 37);
    font-weight: bolder;
    padding: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

form .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form input {
    display: flex;
    font-size: 1em;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    display: flex;
    font-size: 1em;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    font: inherit;
    color: inherit;
    border: 1px #ccc;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 8px;
    font-size: larger;
}

.form-input-span {
    display: flex;
    font-size: 1em;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    font: inherit;
    color: inherit;
    border: 1px #ccc;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 8px;
    font-size: larger;
}

.registeration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px 0;
    padding: 10px 0; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}

h1 p {
    margin: 10px;
    padding: 10px;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0 8px;
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
